mixin chatMessaggesList()
  ul.chat-messages-list
    li.chat-messages-list__item.chat-messages-list__item--separate
      span.text.text--s.text--secondary 19 июня
    li.chat-messages-list__item
      +textMessage('incoming', '14:00')
        | Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
        | Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
    li.chat-messages-list__item
      +textMessage('incoming', '14:00')
        | Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
    li.chat-messages-list__item
      +photoMessage('https://sc02.alicdn.com/kf/HTB1kBA1KpXXXXbcXVXXq6xXFXXX7/10X60-Professional-60mm-astronomical-telescope-with-high.jpg', 'incoming', '14:00')
    li.chat-messages-list__item
      +textMessage('outgoing', '14:00')
        | супер

