.chat-messages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-messages-list__item {
    margin-bottom: 10px;
    display: flex;
}

.chat-messages-list__item--separate {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.chat-messages-list__item--separate {
    margin-top: 0;
}