.form {
    width: 280px;
    display: flex;
    flex-flow: column;
}

.dots-btn {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--black);
    box-shadow: 0 -8px 0 var(--black), 0 8px 0 black;
    padding: 0;
    cursor: pointer;
}