.form-row {
    margin-bottom: var(--formRowSpace);
    display: block;
}

.button-row {
    text-align: center;
}

.button-row--to-left {
    text-align: left;
}

.button-row .button {
    width: 100%;
}

.form-row .button-row  + .button-row {
    margin-top: 14px;
}

.form-row--submit {
    margin-top: 45px;
    margin-bottom: 0;
}