.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header__details {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.chat-header__avatar {
    margin-right: 10px;
}

.chat-header__menu {
    position: relative;
}