include ./errorPageLayout
include ../../mixins/markupHelpers/errorStatus/index
include ../../mixins/forms/button/index

block content
  +errorPageLayout()
    +errorStatus('404', 'Не туда попали', 'Назад к чатам', '/back')
      +button('Назад к чатам', undefined, true)(href='/chat')
